body{

 background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);;    
}

ul {
  list-style-type: none;
  margin: 20;
  padding: 20px;
position: absolute;
  overflow: hidden;
  background-color: #efb2ed;
border-radius: 30px;
box-shadow: 10px 8px 5px rgb(255, 0, 0);
text-align: center;
font-size: 20px;

}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(255, 0, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #EEAECA;
  box-shadow: #EEAECA;
  border-radius: 20px;
}

h1{

  position: relative;
  text-align: center;
  top: 400px;
  left: 33px;
  color: rgb(234, 169, 248);
  text-shadow: 2px 2px 4px #ff0000;
  font-size: 30px;
}


